body{
	margin: 0;
	padding: 0;
	background-color: black;
}

header{
	position: fixed;
	width: 100%;
	z-index: 2;
}

.header_container{
	display: flex;
	border-bottom: solid rgb(245,211,19) 2px;
	background-color: black;
	width: 100%;
	align-items: center;
}

header .header_container nav{
	width: 100%;
	justify-content: center;
}

header img{
	height: 60px;
	margin: 10px 20px;
	border: solid rgb(245,211,19) 5px;
	border-radius: 10px;
}

.menu_icon{
	display: none;
}

.nav_little_screen{
	display: none;
}


@media screen and (max-width: 1024px){

header img{
	height: 90px;
}

.nav_big_screen{
	display: none;
}

.nav_little_screen{
	display: none;
	border-bottom: solid rgb(245,211,19) 2px;
	background-color: black;
	animation: nav 0.3s linear forwards;
}

@keyframes nav{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.menu_icon{
	position: absolute;
	width: 110px;
	height: 90px;
	right: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu_icon_1, .menu_icon_2, .menu_icon_3{
	width: 100%;
	height: 17px;
	transition-duration: 0.3s;
}

.menu_icon_1{
	background-color: rgb(244,94,132);
	border-radius: 10px 10px 0 0;
}

.menu_icon_2{
	background-color: rgb(0,168,133);
}

.menu_icon_3{
	background-color: rgb(250,197,28);
	border-radius: 0 0 10px 10px;
}

}