@font-face{
	font-family: 'title';
	src: url('title.otf');
}

@font-face{
	font-family: 'presentation';
	src: url('presentation.otf');
}

@font-face{
	font-family: 'menu';
	src: url('menu.ttf');
}

@font-face{
	font-family: 'footer';
	src: url('footer.ttf');
}

@font-face{
	font-family: 'satisfaction';
	src: url('satisfaction.ttf');
}

@font-face{
	font-family: 'titre_satisfaction';
	src: url('titre_satisfaction.ttf');
}

@font-face{
	font-family: 'guillemet';
	src: url('guillemet.ttf');
}