.bernois_title{
	margin: auto;
	border: solid rgba(228,127,49,1) 7px;
	background-color: rgba(228,127,49,0.6);
	border-radius: 20px;
	text-align: center;
	padding: 20px 40px;
	width: 500px;	
}

.destination{
	color: rgba(228,127,49,1);
}

.eiger{
	color: rgb(0,168,133);
}

.vallees{
	color: rgb(84,172,210);
}