.dolomites_title{
	margin: auto;
	border: solid rgba(142,72,171,1) 7px;
	background-color: rgba(142,72,171,0.6);
	border-radius: 20px;
	text-align: center;
	padding: 20px 40px;
	width: 500px;	
}

.destination{
	color: rgba(142,72,171,1)
}

.refuge_via{
	color: rgb(0,168,133);
}

.trentin{	
	color: rgb(250,197,28);
}

.venetie{
	color: rgb(84,172,210);
}

