.gr20_title{
	margin: auto;
	border: solid rgba(58,153,217,1) 7px;
	background-color: rgba(58,153,217,0.6);
	border-radius: 20px;
	text-align: center;
	padding: 20px 40px;
	width: 500px;
}

.destination{
	color: rgba(58,153,217,1);
}

.calenzana{
	color: rgb(84,172,210);
}

.conca{
	color: rgb(0,168,133);
}

.paysage_gr20{	
	color: rgb(250,197,28);
}