.kerry_title{
	margin: auto;
	border: solid rgba(173,22,61,1) 7px;
	background-color: rgba(173,22,61,0.6);
	border-radius: 20px;
	text-align: center;
	padding: 20px 40px;
	width: 500px;	
}

.destination{
	color: rgba(173,22,61,1);
}

.bivouac{
	color: rgb(0,168,133);
}

.killarney{	
	color: rgb(250,197,28);
}

.ring_of_kerry{
	color: rgb(84,172,210);
}