*{
	outline: none;
}

a{
	text-decoration: none;
}

main{
	display: flex;
	flex-direction: column;
	padding-top: 110px;
}

main p{
	margin: 0px;
	padding: 0px;
}

.map{
	display: flex;
	width: 100%;
	padding: none;
}

.map img{
	margin: auto;
}

.treks_intro{
	font-family: 'footer';
	font-size: 1.8em;
	color: white;
	padding: 0px 60px;
	margin-top: 50px;
}

.infobulle_container img{
	padding: 10px;
	border-radius: 20px;
	width: 200px;
}

.infobulle_fort, 
.infobulle_glasgow, 
.infobulle_milngavie, 
.infobulle_calenzana, 
.infobulle_conca, 
.infobulle_paysage_gr20, 
.infobulle_refuge_via, 
.infobulle_trentin, 
.infobulle_venetie, 
.infobulle_killarney, 
.infobulle_ring_of_kerry, 
.infobulle_bivouac, 
.infobulle_eiger, 
.infobulle_vallees{
	border: solid white 2px;
	border-radius: 20px;
	position: absolute;
	background-color: black;
	display: none;
	flex-direction: column;
	z-index: 4;
}

.infobulle_text{
	margin: auto;
	color: white;
	font-size: 1.1em;
	font-family: 'presentation';
	width: 200px;
	text-align: justify;
	padding: 10px;
}

.milngavie, 
.glasgow, 
.fort, 
.calenzana, 
.conca, 
.paysage_gr20, 
.refuge_via, 
.trentin, 
.venetie, 
.killarney, 
.ring_of_kerry, 
.bivouac, 
.eiger, 
.vallees{
	font-weight: bold;
	cursor: pointer;
}

.carrousel_container{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
	
.swiper-container_2{
	width: 1200px;
	margin: auto;
}

#swiper-slide_2{
	background-position: center;
	background-size: cover;
	border: solid rgba(255,255,255,0.7);
	border-radius: 10px;
	height: 200px;
}

.swiper-button-next, .swiper-button-prev{
	background-color: rgba(255,255,255,0.7);
	padding: 5px;
	border-radius: 10px;
	transition-duration: 0.5s;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
	transform: scale(1.2);
}

.important{
	font-weight: bold;
	font-size: 1.3em;
	color: rgb(173,22,61);
}


/* COMPAGNIE */

.titre_section{
	width: 100%; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.titre_section{
	color: white;
	font-family: 'presentation';
	font-size: 2.3em;
}

.titre_section img{
	margin-right: 10px;
	width: 20px;
}

.titre_section img[alt="icon séjour"]{
	width: 60px;
}
.titre_section div div{
	display: flex;
	align-items: center;
}

.destination{
	font-family: 'presentation';
	font-size: 0.8em;
}

.trajet_contain{
	display: flex;
	justify-content: center;
	width: 100%;
}

.trajet_contain img{
	border-radius: 50%;
	width: 80px;
	margin: 10px 0;
	cursor: pointer;
	transition-duration: 0.2s;
}

.trajet_contain img:hover{
	transform: scale(1.1);
}

.trajet_contain iframe{
	border-radius: 20px;
}

.trajet_contain div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 60px;
}

.bordure{
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.bordure img{
	width: 60px;
}

.delimitation_avion, .delimitation_sejour, .delimitation_information{
	margin-left: 20px;
	width: 7px;
	height: 100%;
	border-radius: 20px;
}

.delimitation_avion{
	background-color: rgb(84,172,210);
}

.delimitation_sejour{
	background-color: rgb(97,189,109);
}

.delimitation_information{
	background-color: rgb(254,99,139);
}

/* TABLE */

.table{
	margin-top: 50px;
}

.table img{
	height: 400px;
	margin: auto;
	border-radius: 20px;
	border: solid rgb(44,130,201) 5px;
}

table{
	margin-right: 30px;
}

table tr{
	transition-duration: 0.5s;
}

table thead th{
	background-color: rgba(225,73,56,1);
	border-radius: 10px;
	font-family: 'menu';
	font-size: 1.5em;
}

table td{
	color: white;
	text-align: center;
	border-radius: 10px;
	font-family: 'Arial';
}

table tr:hover{
	transform: scale(1.07);
	cursor: pointer;
}

table tr td:last-child{
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(250,197,28);
	text-align: left;
}

/* INFORMATIONS_SUPPLEMENTAIRES */

.carte_adresse{
	padding: 20px 20px 0 20px;
	border: solid white 3px;
	border-radius: 20px;
	height: auto;
	color: white;
	font-family: 'footer';
	font-size: 1.5em;
	min-width: 300px;
	box-shadow: 2px 2px 30px white;
}

.carte_adresse:nth-child(2){
	align-self: flex-end;
}

.information_contain{
	width: 100%; 
	display: flex; 
	justify-content: space-around; 
	height: 400px; 
	align-items: center;
}

.social_button{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.telephone{
	color: black;
	background-color: rgb(251,160,38);
	border-radius: 30px;
	padding: 0 10px;
	margin-top: 20px;
	font-family: 'menu';
}

/* SATISFACTION FORMULAIRE */

input{
	z-index: 10;
}

.satisfaction_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	padding-bottom: 50px;	
	background-color: rgb(242,207,55);
	z-index: 1;
}

.swiper-container_3{
	width: 700px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#swiper-slide_3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 400px;
	padding: 20px 0;
	border-radius: 10px;
	background-color: rgb(240,202,23);
	border: solid 3px rgb(148,94,3);
	box-shadow: 3px 3px 5px rgb(148,94,3);
}

.satisfaction_titre{
	font-family: 'satisfaction';
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	line-height: 55px;
	margin-bottom: 50px;
	display: flex;
	background-color: black;
	color: white;
	padding: 0 20px 20px 20px;
	border-radius: 0 0 100px 100px;
}

.nom_trek{
	font-family: 'titre_satisfaction'; 
	margin-bottom: 50px;
}

.question{
	font-family: 'satisfaction';
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.prev{
	opacity: 0;
	font-family: 'titre_satisfaction';
	font-size: 1.6em;
	padding: 0 17px 0 10px;
	margin-top: 10px;
	background-color: rgba(209,213,216, 0.8);
	border: solid black 3px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	cursor: default;
	transition-duration: 0.3s;
}

.next{
	font-family: 'titre_satisfaction';
	font-size: 1.8em;
	padding: 0 10px;
	color: white;
	margin-top: 10px;
	background-color: black;
	border: solid black 2px;
	border-radius: 10px;
	box-shadow: 1.7px 1.7px 5px black;
	cursor: pointer;
	opacity: 0;
	transition-duration: 0.3s;
}

.next:hover, .prev:hover{
	transform: scale(1.1);
}

#hide{
	display: flex;
	height: 70px; 
	width: 100%; 
	position: absolute; 
	bottom: 0px; 
	z-index: 1; 
}


/* SUGGESTION 1 */

.suggestion1{
	display: flex;
	justify-content: center;
	font-family: 'titre_satisfaction';
	font-size: 2em;
}

.suggestion1 input{
	opacity: 0;
}

.checkbox_gr20, .checkbox_way, .checkbox_via, .checkbox_kerry, .checkbox_bernois, .checkbox_aucun{
	display: inline-block;
	padding: 0 15px;
	border-radius: 20px;
	margin-top: 10px;
	transition-duration: 0.3s;
	cursor: pointer;
	text-shadow: 1px 1px 2px black;
}

.checkbox_gr20{
	border: solid rgb(84,172,210) 2px;
	box-shadow: 1.7px 1.7px 5px rgb(84,172,210);
}

.checkbox_gr20:hover{
	transform: scale(1.1);
}

.checkbox_way{
	border: solid rgb(26,188,156) 2px;
	box-shadow: 1.7px 1.7px 5px rgb(26,188,156);
}

.checkbox_way:hover{
	transform: scale(1.1);	
}

.checkbox_via{
	border: solid rgb(147,101,184) 2px;
	box-shadow: 1.7px 1.7px 5px rgb(147,101,184);
}

.checkbox_via:hover{
	transform: scale(1.1);
}

.checkbox_kerry{
	border: solid rgb(184,49,47) 2px;
	box-shadow: 1.7px 1.7px 5px rgb(184,49,47);
}

.checkbox_kerry:hover{
	transform: scale(1.1);	
}

.checkbox_bernois{
	border: solid rgb(251,160,38) 2px;
	box-shadow: 1.7px 1.7px 5px rgb(251,160,38);
	box-shadow: 
}

.checkbox_bernois:hover{
	transform: scale(1.1);
}

.checkbox_aucun{
	border: solid black 2px;
	box-shadow: 1.7px 1.7px 5px black;
}

.checkbox_aucun:hover{
	transform: scale(1.1);
}


/* SUGGESTION 2 */

.suggestion2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.suggestion2 label{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
	margin-top: 40px;
}

.suggestion2 input{
	opacity: 0;
}

.suggestion2 img{
	width: 120px;
	opacity: 0.6;
	transition-duration: 0.3s;
	background-color: rgb(240,202,23);
	border-bottom: solid rgba(0,0,0,0) 3px;
	padding-bottom: 5px;
	cursor: pointer;
}

.suggestion2 img:hover{
	border-bottom: solid black 3px;
}


/* SUGGESTION 3 */

.suggestion3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.guillemet{
	font-family: 'guillemet';
	width: 300px;
}

.suggestion3 input{
	opacity: 0;
}

.suggestion3 textarea{
	resize: none;
	width: 300px;
	height: 150px;
	border: none;
	background-color: rgba(0,0,0,0);
	color: black;
	font-size: 1.3em;
	padding: 0;
}

.suggestion3 textarea:hover, .suggestion3 textarea:focus{
	transform: scale(1.03);
}

.suggestion3 textarea::placeholder{
	color: black;
	font-family: 'footer';
	font-size: 1.2em;
	font-weight: bold;
}

.nothing_to_say{
	display: inline-block;
	font-family: 'titre_satisfaction';
	font-size: 2.3em;
	padding: 0 10px;
	color: black;
	margin-top: 20px;
	border: solid black 2px;
	border-radius: 10px;
	box-shadow: 1.7px 1.7px 5px black;
	cursor: pointer;
	transition-duration: 0.3s;
	z-index: 5;
}

.nothing_to_say:hover{
	transform: scale(1.1);
}


/* SUGGESTION 4 */

.suggestion4{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.visite{
	display: inline-block;
	font-family: 'titre_satisfaction';
	font-size: 1.7em;
	border-radius: 20px;
	border: solid 3px rgb(148,94,3);
	background-color: rgba(255,255,255,0.6);
	width: 300px;
}

.visite option{
	text-align: center;
}


/* VALIDATION FORMULAIRE */

.formulaire_submit{
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
}

.formulaire_submit input[type=submit]{
	font-family: 'titre_satisfaction';
	display: inline-block;
	font-size: 2.3em;
	padding: 0 20px;
	background-color: rgba(65,168,95,0.1);
	box-shadow: 1px 1px 3px rgba(65,168,95,1);
	border: 4px solid rgba(65,168,95,1);
	border-radius: 20px;
	cursor: pointer;
	transition-duration: 0.3s;
	z-index: 10;
}

.formulaire_submit input[type=submit]:hover{
	transform: scale(1.1);
	background-color: rgba(65,168,95,1);
	color: white;
}

.formulaire_social{
	display: flex;
	margin-top: 20px;
}

.formulaire_social img{
	border: solid rgb(148,94,3) 2px;
	box-shadow: 1px 1px 2px rgb(148,94,3);
}




@media screen and (max-width: 1024px){

.map{
	margin-bottom: 450px;
}

.map img{
	width: 800px;
	margin: auto;
}

.way_title, .gr20_title, .kerry_title, .bernois_title, .dolomites_title{
	width: 80%;
}

.treks_intro{
	font-size: 3em;
	text-align: center;
}

.swiper-container_2{
	width: 95%;
}

.titre_section{
	font-size: 7em;
	text-align: center;
}

.titre_section img{
	display: none;
}

.destination{
	font-size: 0.7em;
}

.trajet_contain{
	flex-direction: column;
	align-items: center;
}

.trajet_contain iframe{
	width: 800px;
}

.trajet_contain div{
	display: flex;
	flex-direction: row;
}

.trajet_contain div img{
	margin: 50px 20px 0 20px;
	width: 150px;
}

.table{
	flex-direction: column;
}

table td{
	font-size: 2em;
}

table tr td:last-child{
	font-size: 3em;
}

table thead th{
	font-size: 2em;
}
.table img{
	height: 650px;
}

.information_contain{
	flex-direction: column;
	height: auto;
}

.carte_adresse{
	margin: 20px 0;
	min-width: 500px;
	font-size: 1.7em;
}

.carte_adresse div{
	font-size: 1.5em;
	margin-bottom: 30px;
}

.carte_adresse:nth-child(2){
	align-self: center;
	margin-left: 120px;
}

.social_button{
	flex-direction: column;
	align-items: center;
}

.social_button iframe, .social_button a{
	transform: scale(2.5);
}

.social_button a{
	margin-bottom: 40px;
	font-size: 0.2em;
}

.nom_trek{
	font-size: 1.7em;
	margin-top: 30px;
}


.infobulle_fort, 
.infobulle_glasgow, 
.infobulle_milngavie, 
.infobulle_calenzana, 
.infobulle_conca, 
.infobulle_paysage_gr20, 
.infobulle_refuge_via, 
.infobulle_trentin, 
.infobulle_venetie, 
.infobulle_killarney, 
.infobulle_ring_of_kerry, 
.infobulle_bivouac, 
.infobulle_eiger, 
.infobulle_vallees{
	padding: 15px;
}

.infobulle_container img{
	width: 600px;
}

.infobulle_text{
	font-size: 2.7em;
	width: 600px;
}



/* SATISFACTION FORMULAIRE */

.question{
	font-size: 4.5em;
}

.swiper-container_3{
	width: 900px;
}

.prev{
	font-size: 3em;
}

.next{
	font-size: 3.4em;
}

.suggestion1, .suggestion2, .suggestion3, .suggestion4{
	font-size: 2.6em;
}

.suggestion3 .guillemet, .suggestion3 textarea{
	width: 600px;
}

.nothing_to_say{
	font-size: 1em;
}

.suggestion4 .visite{
	font-size: 1em;
}

.formulaire_submit input[type=submit]{
	font-size: 4em;
}

.formulaire_social img{
	width: 90px;
	height: 90px;
}

}