.way_title{
	margin: auto;
	border: solid rgba(42,187,156,1) 7px;
	background-color: rgba(42,187,156,0.6);
	border-radius: 20px;
	text-align: center;
	padding: 20px 40px;
	width: 500px;	
}

.milngavie{	
	color: rgb(250,197,28);
}

.glasgow{
	color: rgb(84,172,210);
}

.fort{
	color: rgb(0,168,133);
}

.infobulle_way{
}

.destination{
	color: rgb(26,188,156);
}