nav{
	display: flex;
}

nav a{
	color: black;
	font-family: 'menu';
	font-size: 1.3em;
	text-decoration: none;
}

nav ul{
	display: flex;
	margin: auto;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: center;
}

nav li{
	margin: 15px 15px;
	border-radius: 7px;
	padding: 10px;
	transition-duration: 0.1s;
}

nav li:hover{
	transform: scale(1.1);
	cursor: pointer;
}	

.lien1{
	background-color: rgba(58,153,217,1);
	border: solid black 4px;
}

.lien2{
	background-color: rgba(42,187,156,1);
	border: solid black 4px;
}

.lien3{
	background-color: rgba(142,72,171,1);
	border: solid black 4px;
}

.lien4{
	background-color: rgba(173,22,61,1);
	border: solid black 4px;
}

.lien5{
	background-color: rgba(228,127,49,1);
	border: solid black 4px;
}


@media screen and (max-width: 1024px){

nav a{
	font-size: 2em;
}

}