.slide_container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.slide_title{
	width: 100%;
	padding-left: 15%;
	color: white;
	font-size: 3.7em;
	margin-bottom: 15px;
	font-family: 'slide';
	font-weight: bold;
}

.slide_img img{
	height: 500px;
	max-width: 900px;
	border-radius: 10px;
  	box-shadow: 1px 1px 12px #555;
  	animation: slide_img;
  	animation-duration: 1s;
}

@keyframes slide_img{
    from {transform: rotate(0);
    	opacity: 0.6;
    }
    to {transform: rotate(360);
    	opacity: 1;
    }
}

.slide{
	display: flex;
}

.slide_img{
	margin: auto;
	padding: 10px;
	background-color: rgba(255,255,255,0.95);
	border-radius: 10px;
}

.precedent, .prochain{
	display: flex;
	margin: 0px 120px;
}

.precedent img, .prochain img{
	width: 50px;
	margin: auto;
	cursor: pointer;
}

.precedent img:hover{
	transform: rotate(-20deg) scale(1.12);
	opacity: 0.7;
	transition-duration: 0.5s;
}

.prochain img:hover{
	transform: rotate(20deg) scale(1.12);
	opacity: 0.7;
	transition-duration: 0.5s;
}

