#progression{
    position:fixed;
    top: 0;
    height: 5px;
    width: 100%;
    background: rgba(0,0,0,0);
    z-index: 5;
    transition: all 0.3s ease; 
}
 
#barre{
    position: absolute;
    top: 0;
    background-color: rgb(225,73,56);
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 0 2px 2px 0; 
}


@media screen and (max-width: 1024px){

#progression{
    height: 7px;
}

}