.classementparent{
	width: auto;
	display: flex;
	margin-top: 50px;
}

.classementcontainer{
	margin: auto;
	width: 1200px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.classementcontainer a{
	text-decoration: none;
}

.classementcontainer p{
	color: white;
	font-family: 'presentation';
	font-size: 1.3em;
}

.classement1, .classement2, .classement3, .classement4, .classement5{
	margin: 20px;
	padding: 0 20px 0 20px;
	transition-duration: 0.5s;
}

.classement1{
	width: 500px;
	height: 650px;
	border: solid rgba(58,153,217,1) 10px;
	background-color: rgba(58,153,217,0.6);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.classement2{
	width: 500px;
	height: 650px;
	border: solid rgba(42,187,156,1) 10px;
	background-color: rgba(42,187,156,0.6);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.classement3{
	width: 500px;
	height: 650px;
	border: solid rgba(142,72,171,1) 10px;
	background-color: rgba(142,72,171,0.6);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.classement4{
	width: 500px;
	height: 650px;
	border: solid rgba(173,22,61,1) 10px;
	background-color: rgba(173,22,61,0.6);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.classement5{
	width: 500px;
	height: 650px;
	border: solid rgba(228,127,49,1) 10px;
	background-color: rgba(228,127,49,0.6);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.classement1:hover, .classement2:hover, .classement3:hover, .classement4:hover, .classement5:hover{
	cursor: pointer;
	transform: scale(1.05);
}

.gr20imgcontainer, .wayimgcontainer, .viaimgcontainer, .kerryimgcontainer, .bernoisimgcontainer{
	margin: auto;
}

.gr20img{
	margin-top: 30px;
	width: 400px;
	border: solid rgba(58,153,217,0.8) 5px;
	border-radius: 10px;
}

.wayimg{
	margin-top: 30px;
	width: 400px;
	border: solid rgba(42,187,156,0.8) 5px;
	border-radius: 10px;
}

.viaimg{
	margin-top: 30px;
	width: 400px;
	border: solid rgba(142,72,171,0.8) 5px;
	border-radius: 10px;
}

.kerryimg{
	margin-top: 30px;
	width: 400px;
	border: solid rgba(173,22,61,0.8) 5px;
	border-radius: 10px;
}

.bernoisimg{
	margin-top: 30px;
	width: 400px;
	border: solid rgba(228,127,49,0.8) 5px;
	border-radius: 10px;
}

.classementtitle{
	margin: auto;
	text-align: center;
}

h3{
	color: black;
	font-family: 'title';
	font-size: 1.6em;
	margin: 0px;
}

@media screen and (max-width: 1024px){


.classementcontainer p{
	font-size: 2.8em;
}

.classementtitle h3{
	font-size: 2.5em;
	margin-top: 20px;
}

.classementparent{
	display: flex;
	width: 100%;
}

.classementcontainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.classement1, .classement2, .classement3, .classement4, .classement5{
	padding: 0 20px;
	width: 87%;
	height: auto;
	margin: 20px auto;
}

.gr20img, .wayimg, .viaimg, .kerryimg, .bernoisimg{
	width: 700px;
}

.way_title, .gr20_title, .kerry_title, .bernois_title, .dolomites_title{
	padding: 20px 0;
}


}