body{
	margin: 0px;
	padding: 0px;
	background-color: black;
}

body a:hover{
	text-decoration: none;
}

header{
	display: flex;
}

header img{ 
	width: 100%;
	height: auto;
	z-index: -2;
}

.presentationparent a:hover{
	text-decoration: underline;
}

.fondlogoparent{
	position: fixed;
	width: 100%;
	height: 600px;
	display: flex;
	z-index: 1;
}

.fondvideoparent{
	position: fixed;
	width: 100%;
	z-index: -2;
}

.logoparent{
	position: relative;
	margin: auto;
	border-radius: 70px;
	animation: initialisation;
	animation-duration: 1s;
	z-index: 1;
}

.logo{
	width: 600px;
	opacity: 0.95;
	background-color: rgba(255,0,255,0.08);
	border-radius: 70px;
	border: solid black 20px;
}

@keyframes initialisation {
    from {transform: scale(0);
    	opacity: 0;
    }
    to {transform: scale(1);
    	opacity: 1;
    }
}

	
.infobulle_map div{
	position: absolute;
	color: white;
	display: none;
	border-radius: 20px;
	padding: 5px;
	border: solid rgba(233,203,31,1) 1.5px;
	font-family: 'footer';
	font-size: 1.3em;
	z-index: 4;
}

.infobulle_map div span{
	color: rgba(233,203,31,1);
	font-weight: bold;
}

#infobulle_irlande{
	background-color: rgba(173,22,61,0.95);
}

#infobulle_ecosse{
	background-color: rgba(42,187,156,0.95);
}

#infobulle_suisse{
	background-color: rgba(228,127,49,0.95);
}

#infobulle_italie{
	background-color: rgba(142,72,171,0.95);
}

#infobulle_corse{
	background-color: rgba(58,153,217,0.95);
}


@media screen and (max-width: 1024px){

header img{
	width: 160%;
}

}