main{
	position: absolute;
	top: 600px;
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 200px;
	border-top: solid 2px rgba(233,203,31,1);
	z-index: 1;	
}

.title{
	margin: auto;
	text-align: center;
	border: dashed rgba(233,203,31,1) 10px;
	border-radius: 70px;
}

h1{
	font-family: 'title';
	font-size: 60px;
	padding: 0 30px 0 30px;
}

.presentationparent{
	width: 100%;
	margin-top: 50px;
}

.imgfloatmontain{
	float: left;
	width: 200px;
}

.presentation{
	font-family: 'presentation';
	font-size: 1.8em;
	text-align: justify;
	margin: auto;
	width: 810px;
}

h2{
	font-family: 'presentation';
	font-size: 2em;
	padding: 0 30px 0 30px;
}

a{
	color: rgba(230,97,131,1);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.a_walkinlove{
	color: rgba(233,203,31,1);
	text-decoration: none;
}

.a_walkinlove:hover{
	text-decoration: underline;
}

.carte_parent{
	width: 100%;
	display: flex;
}

.carte_enfant{
	margin: auto;
}

.carte{
	width: 800px;	
}



@media screen and (max-width: 1024px){

h2{
	font-size: 2.9em;
}

.presentation{
	font-size: 2.7em;
	width: 80%;
}

.carte{
	width: 700px;
}

.carte_parent area{
	display: none;
}

}