#go_up{
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50%;
	display: none;
	z-index: 3;
}

#go_up:hover{
	transform: scale(1.2);
	transition-duration: 0.3s;
	cursor: pointer;
}

#go_up img{
	width: 40px;
	height: auto;
}

@media screen and (max-width: 1024px){

#go_up{
	right: 10px;
}

#go_up img{
	width: 80px;
}

}