*{
	outline: none;
}

footer{
	width: 100%;
	margin-top: 120px;
	background-image: url(../img/footer_fond.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	color: white;
	padding: 50px 0px;
	justify-content: center;
	z-index: 2;
}

footer div{
	margin: 0px 50px;
}

.social{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 20px 10px;
	transition-duration: 0.3s;
}

.social:hover{
	transform: scale(1.2);
}

.footer_lien ul{
	padding-left: 20px;
}

footer p{
	font-family: 'title';
	font-size: 1.5em;
}

.footer_lien li{
	list-style-type: none;
	margin: 10px 0px;
	font-family: 'presentation';
	font-size: 1.5em;
	transition-duration: 0.3s;
	cursor: pointer;
}

.footer_lien li:before{
	content: url(../img/footer_puce.png);
}

.footer_lien li:hover{
	padding-left: 10px;
}

footer a{
	text-decoration: none;
	color: rgba(225,73,56,1);
}

footer .error_none{
	margin: 7px 0px;
	border-radius: 5px;
	border: solid rgba(251,160,38,0.9) 2px;
	background-color: rgba(251,160,38,0.7);
	color: white;
	padding: 5px;
	width: 200px;
	font-family: 'presentation';
	transition-duration: 0.5s;
}

.error{	
	margin: 7px 0px;
	border-radius: 5px;
	border: solid rgba(255,73,56,0.4) 2px;
	background-color: rgba(255,73,56,0.3);
	color: white;
	padding: 5px;
	width: 200px;
	font-family: 'presentation';
	transition-duration: 0.5s;
}

::placeholder{
	color: rgba(255,255,255,0.5);
	font-family: 'Arial';
}

footer textarea{
	resize: none;
	height: 100px;
}

input:last-child{
	width: auto;
	font-family: 'title';
	color: black;
	font-weight: bold;
	cursor: pointer;
}

input:focus, textarea:focus{
	transform: scale(1.08);
}

.delete{
	display: none;
}

.formulaire_alert{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	font-family: 'presentation';
	font-size: 2em;
	color: rgb(239,239,239);
	text-shadow: 3px 3px 3px black;
	z-index: 4;
}

.formulaire_alert .alert_probleme{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 50px 60px;
	border-radius: 15px;
	border: solid rgba(255,73,56,0.4) 5px;
	background-color: rgba(255,73,56,0.4);
	box-shadow: 2px 2px 5px rgba(255,73,56,0.6);
	animation: alert; 
	animation-duration: 1s;
}

.formulaire_alert .alert_valide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 50px 60px;
	border-radius: 15px;
	border: solid rgba(65,168,95,0.4) 5px;
	background-color: rgba(65,168,95,0.4);
	box-shadow: 2px 2px 5px rgba(65,168,95,0.6);
	animation: alert; 
	animation-duration: 1s;	
}

.titre_alert{
	color: black;
	border: solid black 6px;
	border-radius: 10px;
	padding: 10px;
	text-shadow: none;
	font-family: 'title';
	margin-bottom: 20px;
}

.validation_message{
	margin-bottom: 30px;
}

.button_alert_container{
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.alert_button1, .alert_button2{
	display: flex;
	color: black;
	text-shadow: none;
	padding: 10px;
	font-family: 'footer';
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.alert_button1:hover, .alert_button2:hover{
	transform: scale(1.05);
}

.alert_button1{
	box-shadow: 2px 2px 5px rgba(0,168,133,0.6);
	background-color: rgba(0,168,133,0.9);
}

.alert_button2{
	box-shadow: 2px 2px 5px rgba(61,142,185,0.6);
	background-color: rgba(61,142,185,0.9);	
}


.alert_valide .button_alert_container{
	justify-content: center;
}


@keyframes alert{
	from{
	 	transform:  scale(0);
	 	opacity: 0.7;
	}
	to{
		transform:  scale(1);
		transform: 1;
	}
}




@media screen and (max-width: 1024px){

footer .error_none{
	width: 700px;
	font-size: 2em;
}

footer .error{
	width: 700px;
	font-size: 2em;
}

.footer_lien li{
	font-size: 2.5em;
}

footer textarea{
	height: 200px;
}

::placeholder{
	font-size: 1em;
}

.social{
	width: 60px;
	height: 60px;
}

.formulaire_alert .alert_probleme, .formulaire_alert .alert_valide{
	width: 80%;
	padding: 20px 10px;
}

.formulaire_alert{
	font-size: 3em;
}

.titre_alert{
	font-size: 1.3em;
}

.button_alert_container{
	width: 92%;
}

.alert_button1, .alert_button2{
	max-width: 300px;
	font-size: 0.7em;
}

.alert_valide .button_alert_container{
	justify-content: center;
}



}
